.navbar {
  align-items: center;
  margin: 1rem;
  padding: 1.5rem 2.5rem;
  background-color: var(--navbar);
  border-radius: 9999px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 1.1);
}

.navbar_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_left {
  font-size: 22px;
  font-weight: 600;
}

.navbar_center {
  font-size: 17px;
  display: flex;
  gap: clamp(0rem, 2vw, 3rem);
}

.navbar_center a {
  text-decoration: none;
  cursor: pointer;
}

.navbar_center a:hover {
  transform: scale(1.15);
}

.navbar_right {
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search_box {
  display: flex;
  gap: 0.5rem;
}

.search_box input {
  background: transparent;
  border: none;
  outline: none;
}

.menu_button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.mobile_menu {
  display: none;
}

.logo_full {
  display: inline;
}

.logo_mobile {
  display: none;
}

@media (max-width: 890px) {
  .mobile_menu {
    font-size: 17px;
    display: block;
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: max-height 0.45s ease, opacity 0.2s ease, transform 0.2s ease;
  }

  .mobile_menu ul {
    margin: 5px;
  }

  .mobile_menu li {
    display: flex;
    padding: 0.75rem 0;
  }

  .mobile_menu.open {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.75s ease, opacity 0.2s ease, transform 0.2s ease;
  }

  .navbar_center,
  .search_box,
  .logo_full {
    display: none;
  }

  .menu_button {
    display: block;
  }

  .search_box_mb {
    gap: 0.5rem;
  }

  .search_box_mb input {
    background: transparent;
    border: none;
    outline: none;
  }

  .logo_mobile {
    display: block;
  }

  .navbar {
    border-radius: 38px;
  }
}